.app {
  padding: 20px;
  height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  gap: 50px;
}

.app-header h1 {
  text-transform: uppercase;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-size: 18px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-size: 18px;
  margin-top: 4rem;
  gap: 20px;
}

.start-btn {
  border: none;
  outline: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 30px;
  background-color: #1e2425;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.45);
}

.start-btn:hover {
  border: 1px solid #fff;
  background-color: #2a3335;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 5rem;
  align-items: center;
  color: #fff;
}

.options {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options:hover {
  background-color: #2a3335;
  color: #fff;
}

.options .btn-option {
  text-align: start;
  background-color: #3f474c;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  /* border: 0.5px solid #fff; */
  border-radius: 30px;
  cursor: pointer;
  font-size: 24px;
}

.options .btn-option:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(90, 66, 85, 0.65);
  transform: translateX(0, 30);
}

.options .answer {
  background-color: #f44336;
}

.options .correct {
  background-color: #108ca0;
}

.options .wrong {
  background-color: #fea241;
}
